{##
 # Copyright (c) 2018. Anime Twin Cities, Inc.
 #
 # This project, including all of the files and their contents, is licensed under the terms of MIT License
 #
 # See the LICENSE file in the root of this project for details.
#}
<p>
    Hello <b>{{ registration.firstName }} {{ registration.lastName }}</b>,
</p>

<p>
    We would like to provide an update regarding the rollover/refund/donate process for
    the Anime Detour 2020 badges. Please see below for this information.
</p>

<p>
    If you have any other questions not answered below, please contact ad_register@animedetour.com
</p>

<p>
    Thank you,<br>
    Anime Detour Executive Team
</p>
<br>


<p>
    <b>
        ROLLOVERS
    </b>
</p>
<ul>
    <li>
        If you would like to rollover your badge to  Anime Detour 2021, you will not need
        to fill out the form as it will be automatically done after refunds/donations are
        processed (after June 1st).
    </li>
    <li>
        A confirmation email will be sent once your badge is rolled over.  This will contain
        a new confirmation number for 2021, so please save this email for your records.
    </li>
</ul>

<p>
    <b>
        REFUNDS/DONATION OF BADGE
    </b>
</p>

<ul>
    <li>
        If you would like a refund or to donate your badge fee, please fill out the
        form using the link <a href="https://forms.gle/M8rivBMAQJhwQr9X6">https://forms.gle/M8rivBMAQJhwQr9X6</a>.
        The deadline for refund/donation requests is June 1st, 2020. Refunds will continue to be processed as
        we receive requests.
    </li>
    <li>
        If you have already requested a refund through the form, you do not need to do so again.
    </li>
    <li>
        Refunds will be directed back to whomever paid for the registration.
    </li>
    <li>
        If you paid for more than one badge and would like to receive a refund for all badges,
        please fill out the form for each badge.  Use the legal name (not badge name) for who the
        badge was for when filling out the form.
    </li>
    <li>
        Confirmation numbers are not required (16-digit alpha-numerical), but do help us process requests
        much faster.  They are different for each badge.  Your confirmation number for your specific
        badge is {{ registration.confirmationNumber }}.
    </li>
    <li>
        Once a refund is processed, it will take 5-10 days to appear in your account.  If the refund is
        rejected (card replaced, incorrect information, etc...) a check will be sent to you.
    </li>
    <li>
        If you paid with a check/cash, a refund check will be sent to you.
    </li>
</ul>


<p>
    <b>
        SCHOOL GROUP REGISTRATIONS
    </b>
</p>
<ul>
    <li>
        All school groups will be receiving a full refund.  Group Leaders were contacted for information of where to
        send the refund. Please contact your group leader for further information.
    </li>
</ul>

<p>
    <b>
        T-SHIRTS
    </b>
</p>
<ul>
    <li>
        If you pre-ordered a T-shirt, we will be finding a way to give them to you.  This is currently
        being worked on.  These are currently not being included in the refund process.
    </li>
</ul>
