{##
 # Copyright (c) 2018. Anime Twin Cities, Inc.
 #
 # This project, including all of the files and their contents, is licensed under the terms of MIT License
 #
 # See the LICENSE file in the root of this project for details.
#}
<p>
    Hello <b>{{ registration.firstName }} {{ registration.lastName }}</b>,
</p>

<p>
    We would like to thank you for your continued support of Anime Detour as you rolled over
your 2020 badge to the 2021 convention. We hope that you are as well as can be in these
unprecedented times and we understand many of you have been eagerly awaiting
information about Anime Detour 2021. It is with a very heavy heart that we officially
announce that the Anime Detour executive team has made the difficult decision to cancel
the Anime Detour 2021 event.
</p>

<p>
    While we are hopeful that the world continues to recover from the pandemic, our primary
concern is the health and safety of all in attendance. To that end, it is not possible for us to
hold Anime Detour in April of this year.
</p>

<p>
    The continuing effects of the global pandemic, combined with the existing restrictions in
place, have debilitating effects on our ability to plan, organize, and hold our event logistically
and safely. An attempt to present a convention in a few short months from now would
drastically affect our presentation, to where it would bear little resemblance to the Anime
Detour we all know and love.
</p>

<p>
    By no means was the decision an easy one and we know this is not the announcement
anyone wanted to hear, but we feel that it is in the best interest of our attendees, our staff
as well as the community. We will continue our focus on how we can present exciting ways
for us to share our love of Japanese culture virtually this year. Please continue to watch our
social media and website for additional announcements.
</p>

<p>
    Since you are currently registered for the convention, you have the opportunity to rollover to
the 2022 convention to be held March 18 to March 20, 2022, or request a refund. To
request a refund, please fill out the form using the following link:
https://forms.gle/m3JjV3xaEgm3sCD59.
</p>

<p>
    You will need your confirmation number, which is {{ registration.confirmationNumber }}. 
</p>
<p>
    If multiple badges were bought and need to be refunded, please make sure to fill out a 
request for each badge and include who the badge belongs to, not who bought it. The last 
day to request a refund is July 31st, 2021.
</p>

<p>
    If you would like to rollover your badge to the 2022 convention (March 18th to March 20th,
2022), you do not need to do anything. This will automatically occur after the refund request
window has closed. You will receive a confirmation email with your new confirmation
number once the rollover has been completed.
</p>

<p>
    If you have any questions regarding the refund/rollover process, please contact Vice-Chair
Alex Oswald at alex.oswald@animedetour.com.
</p>

<p>
    The entire Anime Detour team thanks you for your patience during these times, your
understanding of these difficult decisions and your continued dedication. Our entire staff will
continue planning for our return at the Anime Detour 2022 event. We look forward to seeing
everyone then.
</p>

<p>
    We are tremendously fortunate to be a part of such a wonderful and exciting community.
Thank you for supporting Anime Detour, please stay safe.
</p>

<p>
    Thank you,<br>
    Anime Detour Executive Team
</p>
