<p>Dear <b>{{ registration.firstName }}</b>,</p>

<p>Thank you for deciding to rollover your Anime Detour 2021 badge to the convention in 2022.</p>
<p>
    Your badge has been officially rolled over and your confirmation number is
    {{ registration.confirmationNumber }}. Please keep this information for your records. You can
    contact us at ad_register@animedetour.com if you have any questions.
</p>
<p>
    Again, thank you for your support of Anime Detour and Anime Twin Cities, Inc. We plan to
    come back in 2022 and provide you with a great and amazing experience. To quote Vash, &quot;The
    ticket to the future is always open&quot;.
</p>
<p>See you in 2022.</p>
<p>Sincerely,</p>
<p>The Anime Detour Executive Team and Staff</p>
